body {
    font-family: sans-serif;
    color: aquamarine;
/*    background-color: cadetblue;*/
    text-align: center;
    padding-top: 3.0vh;
    opacity: 1;
    transition: 3s opacity;
    background-size: cover;
    background-image: url("/src/bg.jpg");
}

/*
html { 
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/

body.fade-out {
    opacity: 0;
    transition: none;
}

div.marquees {
    text-align: center;
    padding-left: 30.0vh;
    padding-right: 30.0vh;
    color: chartreuse;
}